<div class="form-group">
    <div class="form-control">
        <input [(firstName)] type="text" placeholder="first name" name="firstName">
    </div>
    <div class="form-control">
        <input [(lastName)]  type="text" placeholder="last name" name="lastName">
    </div>
    <div class="form-control">
        <input [(email)]  type="email" placeholder="email" name="email">
    </div>
    <div class="form-control">
        <input [(password)]  type="password" placeholder="password" name="password">
    </div>
    <div class="form-control">
        <button type="submit" (click)="submit()">Submit</button>
    </div>
</div>